<ion-view view-title="{{planta.nombre}} 2">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-ios-arrow-back"
            ng-click="goBack()"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-ios-pulse-strong"
            ng-click=""></button>
  </ion-nav-buttons>
  <ion-content class="padding has-header">
    <div class="contenedor">
      <div class="list card">
        <ion-item class="item-stable item-button-right">
          Estado actual
          <button ng-click="goRegistro()"
                  class="button button-clear button-{{tema}}">Tomar registro</button>
        </ion-item>
        <div class="item item-body">
          <img class="full-image"
               ng-src=" {{foto || 'aplication/core/images/poto1.jpg'}}">
          <div class="list card">
            <div ng-if="arduino">
              <ion-item class="item item-icon-left">
                <i class="icon ion-thermometer"></i>
                Temperatura
                <span class="item-note">
                  {{data.tExt}}º
                </span>
              </ion-item>
            <ion-item class="item item-icon-left">
              <i class="icon ion-waterdrop"></i>
              Humedad de la tierra
              <span class="item-note">
                {{data.humedad}} %
              </span>
            </ion-item>
              <ion-item class="item item-icon-left">
                <i class="icon ion-waterdrop"></i>
                Humedad de la ambiente
              <span class="item-note">
                {{data.hExt}} %
              </span>
              </ion-item>
            <ion-item class="item item-icon-left">
              <i class="icon ion-ios-sunny-outline"></i>
              Luz
              <span class="item-note">
                {{data.luz}} lux
              </span>
            </ion-item>
            </div>
            <ion-item class="item item-divider">
              Descripción
            </ion-item>
            <p>
              {{planta.descripcion || 'Descripción no disponible'}}
            </p>
          </div>
          <!-- ver para moverlo mas a la izquierda -->
         <!-- <div id="columnchart_values" style="width: 100%; height: 200px;"></div>-->
          <button ng-click="eliminar()"
                  class="button button-block button-assertive">
            Eliminar
          </button>
        </div>

      </div>
    </div>
  </ion-content>
</ion-view>
