<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="contenedor bar-{{tema}}">
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon"
                menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <ion-nav-view></ion-nav-view>

  </ion-side-menu-content>

  <ion-side-menu expose-aside-when="large" side="left">
    <ion-header-bar class="bar-{{tema}}">
      <h1 class="title">{{usuario.name || 'Sin loguear'}}</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close
          ng-click="goLogin()"
          ng-class="{active: current === 'app.usuario.login'}">
          Login
        </ion-item>
        <ion-item menu-close
                  ng-class="{active: current === 'app.nueva-planta'}"
                  ng-click="goNuevaPlanta()">
          Nueva Planta
        </ion-item>
        <ion-item menu-close
                  ng-class="{active: current === 'app.mis-plantas.list'}"
                  ng-click="goMisPlantas()">
          Mis plantas
        </ion-item>
        <ion-item
          menu-close
          ng-class="{active: current === 'app.config'}"
          ng-click="goConfig()">
          Configuración
        </ion-item>
        <ion-item class="assertive"
                  menu-close
                  ng-click="">
          Cerrar sesión
        </ion-item>
        <ion-item class="assertive stable-bg"
                  menu-close
                  ng-click="close()"
                  ng-if="">
          Cerrar aplicación
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
