<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="contenedor bar-{{tema}}">
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon"
                menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <ion-nav-view></ion-nav-view>

  </ion-side-menu-content>

  <ion-side-menu expose-aside-when="large" side="left">
    <ion-header-bar class="bar-{{tema}}">
      <p class="text-center">Bienvenido/a</p>
      <p class="text-center">{{usuario.name || 'Sin loguear'}}</p>
    </ion-header-bar>
    <ion-content>
      <ion-list>
      <hr/>
        <ion-item
        class="item-borderless"
          href="#app/usuario/login"
          native-ui-sref="app.usuario.login"
          native-options="{type: 'slide', direction:'down'}">
          <i class="icon ion-person"></i> 
          Login
        </ion-item>
        <ion-item menu-close
        class="item-borderless"
                  ng-class="{active: current === 'app.mis-plantas.list'}"
                  href="#app/mis-plantas/list"
                  native-ui-sref="app.mis-plantas.list"
                  native-options="{type: 'slide', direction:'down'}">
          <i class="icon ion-leaf"></i>Mis plantas
        </ion-item>
        <ion-item
        class="item-borderless"
          href="#app/config"
          native-ui-sref="app.config"
          native-options="{type: 'slide', direction:'down'}">
          <i class="icon ion-settings"></i>
          Configuración
        </ion-item>
        <ion-item class="item-borderless"
                  menu-close
                  ng-click="">
                  
          <i class="icon ion-android-exit"></i>
          Cerrar sesión
        </ion-item>
        <ion-item class="stable-bg item-borderless"
                  menu-close
                  ng-click="close()"
                  ng-if="">
          <i class="icon ion-android-exit"></i>
          Cerrar aplicación
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
