<ion-view view-title="Mis plantas">
  <ion-nav-buttons side="right">
    <button ng-click="goNuevaPlanta()"
            class="button button-icon button-clear ion-leaf">
    </button>
  </ion-nav-buttons>
  <ion-content class="padding has-header contenedor">
      <div class="list">
        <a href="#app/mis-plantas/nueva-planta"
           native-ui-sref="app.mis-plantas.nueva-planta"
           native-options="{type: 'slide', direction:'down'}">
          nueva planta
        </a>
        <div ng-repeat="planta in plantas">
          <ion-item class="item item-divider item-button-right">
            {{planta.nombre}}</ion-item>
        <ion-item ng-click="goDetail(planta.id)"
           class="item item-thumbnail-left">
          <img class="full-image" ng-src="{{getUrlPlanta(planta.fotoPerfil) || 'aplication/core/images/poto1.jpg' }}">
          {{planta.descripcion || 'No disponible'}}
        </ion-item>
        </div>
      </div>
  </ion-content>
</ion-view>
