<ion-modal-view>
  <header class="bar bar-{{tema}}">
    <div class="button button-clear"
         ng-click="descartaTemas()">
      <span class="icon ion-close"></span>
    </div>
    <h1 class="title">Temas</h1>
  </header>

  <ion-content class="padding has-header">
    <button ng-click="cambiaTema('positive')" class="button button-block button-positive">
      button-positive
    </button>
    <button ng-click="cambiaTema('calm')" class="button button-block button-calm">
      button-calm
    </button>
    <button ng-click="cambiaTema('balanced')" class="button button-block button-balanced">
      button-balanced
    </button>
    <button ng-click="cambiaTema('energized')" class="button button-block button-energized">
      button-energized
    </button>
    <button ng-click="cambiaTema('royal')" class="button button-block button-royal">
      button-royal
    </button>
    <button ng-click="cambiaTema('dark')" class="button button-block button-dark">
      button-dark
    </button>
  </ion-content>
</ion-modal-view>