<ion-view view-title="{{planta.nombre}}">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-ios-arrow-back"
            ng-click="goBack()"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-checkmark-round"
            ng-click="update()"></button>
  </ion-nav-buttons>
  <form name="registroForm">
    <ion-content class="contenedor">
      <div ng-if="!arduino">
        <label class="item item-input item-stacked-label">
          <i class="icon ion-waterdrop"></i>
          <span class="input-label">% Humedad</span>
          <input ng-model="data.humedad" type="number" name="humedad" required
                 placeholder="Humedad...">
        </label>
        <label class="item item-input item-stacked-label">
          <i class="icon ion-thermometer"></i>
          <span class="input-label">Cº Temperatura</span>
          <input ng-model="data.temperatura" type="number" name="temperatura" required
                 placeholder="Temperatura...">
        </label>
        <label class="item item-input item-stacked-label">
          <i class="icon ion-ios-sunny-outline"></i>
          <span class="input-label">Lumenes</span>
          <input ng-model="data.luz" type="number" name="luz" required
                 placeholder="Lumenes...">
        </label>
        <label class="item item-input item-stacked-label">
          <i class="icon ion-ios-flask-outline"></i>
          <span class="input-label">PH</span>
          <input ng-model="data.ph" type="number" name="ph" required
                 placeholder="PH...">
        </label>
        <ion-item class="item item-icon-left">
          <i class="icon ion-android-calendar"></i>
          Fecha
          <span class="item-note">
            {{data.fecha}}
          </span>
        </ion-item>
        <expand-textarea label="Nota" name="nota" required
                         expand-model="data.nota"
                         placeholder="Introduzca aquí su nota"></expand-textarea>
      </div>
      <div ng-if="arduino">
        <ion-item class="item item-icon-left">
          <i class="icon ion-waterdrop"></i>
          Humedad
          <span class="item-note">
            {{data.humedad}}%
          </span>
        </ion-item>
        <ion-item class="item item-icon-left">
          <i class="icon ion-thermometer"></i>
          Temperatura
          <span class="item-note">
            {{data.temperatura}}º
          </span>
        </ion-item>
        <ion-item class="item item-icon-left">
          <i class="icon ion-ios-sunny-outline"></i>
          Luz
          <span class="item-note">
            {{data.luz}} lux
          </span>
        </ion-item>
        <label class="item item-input item-stacked-label">
          <i class="icon ion-ios-flask-outline"></i>
          <span class="input-label">PH</span>
          <input ng-model="data.ph" type="number" name="ph" required
                 placeholder="PH...">
        </label>
        <ion-item class="item item-icon-left">
          <i class="icon ion-android-calendar"></i>
          Fecha
          <span class="item-note">
            {{data.fecha}}
          </span>
        </ion-item>
        <expand-textarea label="Nota" name="nota" required
                         expand-model="data.nota"
                         placeholder="Introduzca aquí su nota"></expand-textarea>
      </div>
    </ion-content>
  </form>
</ion-view>
