<ion-view view-title="Nueva planta 1">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-ios-arrow-back"
            ng-click="goBack()"></button>
  </ion-nav-buttons>
  <form name="nuevaPlantaForm">
    <ion-content class="padding has-header contenedor">
      <!--<button class = "button" ng-click = "takePicture()">Take Picture</button>
      <button class = "button" ng-click = "getPicture()">Open Gallery</button>
      <img ng-src = "{{user.picture}}">-->
      <div ng-if="!isBrowser">
        <form name="loginForm">
          <div>
            <img class="center small-image" src="./img/instagram-logo.svg" ng-click="addImage()" />
            <p class="text-center">Tomar fotográfia</p>
            <img ng-if="hasCameraImage" ng-src="{{urlForImage(image)}}" class="medium-image border-small"/>
            <p ng-if="hasCameraImage" class="text-center">Vista previa</p>
          </div>
          <!--<div>
            <button class="button button-energized" ng-click="addImage()">
              Add image
            </button><br><br>
            <img ng-if="hasCameraImage" ng-src="{{urlForImage(image)}}" style="width: 100%;height: 300px"/>
          </div>-->
        </form>
      </div>
      <div ng-if="isBrowser">
        <form name="imagenWebForm" action="plantavsarduino.tk:8888/upload" enctype="multipart/form-data">
          <div class="upload-image">
            <label  for="imagenWeb">
              <figure class="center small-image">
                <img src="./img/upload-to-cloud.svg" alt="Click para subir imagen"/>
                <figcaption>Subir Foto</figcaption>
              </figure>
              <input class="hide" onchange="angular.element(this).scope().readURL(this.files[0])" name="planta" id="imagenWeb" type="file" accept="image/*" />
            </label>
          </div>
          <!--<input hidden name="idPlanta" value="2012" />
          <input hidden name="idUsuario" value="dfsdf" />-->
          <div id="imagenVistaPrevia" class="oculto">
            <img class="medium-image border-small" id="previstaImagenWeb" />
            <p class="text-center">Vista Previa</p>
          </div>
          <!--<input type="submit" value="EnviarFoto" />-->
        </form>
      </div>
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Identificador de planta</span>
          <input ng-model="data.idPlanta" type="text" name="idPlanta" required
                 placeholder="Identificador de planta">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Nombre</span>
          <input ng-model="data.nombre" type="text" required name="nombre"
                 placeholder="Nombre">
        </label>
        <label class="item item-input item-stacked-label">
          <i class="icon ion-calendar"></i>
          <span class="input-label">Fecha de nacimiento</span>
          <input ng-model="data.fechaNacimiento" name="fechaNacimiento" type="date">
        </label>
        <expand-textarea label="Descripción" name="descripcion" required
                         expand-model="data.descripcion"
                         placeholder="Introduzca aquí su descripcion"></expand-textarea>
        <button
          ng-click="insertPlanta()"
          class="button button-block button-{{tema}}">
          Plantar
        </button>
      </div>
    </ion-content>
  </form>
</ion-view>
