<ion-view view-title="Nueva planta">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-ios-arrow-back"
            ng-click="goBack()"></button>
  </ion-nav-buttons>
<form name="nuevaPlantaForm">
  <ion-content class="padding has-header">
    <!--<button class = "button" ng-click = "takePicture()">Take Picture</button>
    <button class = "button" ng-click = "getPicture()">Open Gallery</button>
    <img ng-src = "{{user.picture}}">-->
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Identificador de planta</span>
        <input ng-model="data.idPlanta" type="text" name="idPlanta" required placeholder="Identificador de planta">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Nombre</span>
        <input ng-model="data.nombre" type="text" required name="nombre" placeholder="Nombre">
      </label>
      <label class="item item-input item-stacked-label">
        <i class="icon ion-calendar"></i>
        <span class="input-label">Fecha de nacimiento</span>
        <input ng-model="data.fechaNacimiento" name="fechaNacimiento" type="date">
      </label>
        <expand-textarea label="Descripción" name="descripcion" required expand-model="data.descripcion" placeholder="Introduzca aquí su descripcion"></expand-textarea>
      <button
        ng-click="insertPlanta()"
        class="button button-block button-balanced">
        Plantar
      </button>
    </div>
  </ion-content>
</form>
</ion-view>
